<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <title>TT</title>
</head>
<body>
    <div class="sidebar">
        <h2 class="logo">TT</h2>
        <a href="*">Home</a>
        <a href="*">Search</a>
        <a href="*">Lables</a>
        <a href="*">Settings</a>
    </div>

    <div class="main-content">
        <header>
            <h1>HOME</h1>
            <div class=" header-buttons">
                <a href="*"><button>Print Report</button></a>
                <a href="*"><button>+ Add New </button></a>
            </div>
        </header>
    </div>
</body>
</html>